---
export const title = 'Home';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Golok Pembunuh Naga | {title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
	</head>
	<body>
		<main class="w3-main w3-container">
			<div class="w3-content">
				<h1>Golok Pembunuh Naga</h1>
				<div class="w3-bar">
					<a href="/README" class="w3-btn w3-bar-item w3-hover-black">README</a>
					<a href="/yttlj/intro" class="w3-btn w3-bar-item w3-hover-black">Intro</a>
				</div>
			</div>
		</main>
	</body>
</html>
