---
import DinastiYuan from './parts/era/DinastiYuan.md';
export const title = 'Home';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Golok Pembunuh Naga | {title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<main class="w3-main w3-container">
			<div class="w3-content">
				<h1>Golok Pembunuh Naga</h1>
				<div class="w3-bar">
					<a href="/README" class="w3-btn w3-bar-item w3-black w3-hover-red">README</a>
					<a href="/yttlj/intro" class="w3-btn w3-bar-item w3-black w3-hover-red">Intro</a>
				</div>
				<div class="w3-panel w3-border">
					<DinastiYuan/>
				</div>
				<div class="w3-panel w3-border">
					<h3>Daftar Karakter Dalam Cerita</h3>
					<div class="w3-row-padding">
						<div class="w3-container w3-col s12 m4 l4 w3-card">
							<a href="/parts/people/ZhangWuji" title="Baca selengkapnya mengenai Zhang Wuji">
								<img src="/images/casts/zhang-wuji.png" alt="Zhang Wuji" width="100%"/>
							</a>
							<div class="w3-container w3-center">
								<p>Zhang Wuji</p>
							</div>
						</div>
						<div class="w3-container w3-col s12 m4 l4 w3-card">
							<a href="/parts/people/ZhaoMin" title="Baca selengkapnya mengenai Zhao Min">
								<img src="/images/casts/zhao-min.png" alt="Zhao Min" width="100%"/>
							</a>
							<div class="w3-container w3-center">
								<p>Zhao Min</p>
							</div>
						</div>
						<div class="w3-container w3-col s12 m4 l4 w3-card">
							<a href="/parts/people/ZhouZhiRuo" title="Baca selengkapnya mengenai Zhou Zhiruo">
								<img src="/images/casts/zhou-zhiruo.png" alt="Zhou Zhiruo" width="100%"/>
							</a>
							<div class="w3-container w3-center">
								<p>Zhou Zhiruo</p>
							</div>
						</div>
						<div class="w3-container">
							<p>
								Mengingat rentang waktu dalam cerita, dan keterlibatan para tokoh sejarah dalam cerita
								ini sendiri, daftar para tokoh dalam cerita menjadi sangat panjang dan kompleks untuk dibahas
								di sini. Selain ketiga karakter utama di atas, semua karakter lain bisa 
								<a href="/parts/people/">dibaca di halaman tersendiri.</a>
							</p>
						</div>
					</div>	
				</div>
			</div>
		</main>
	</body>
</html>
