---
interface Props {
  links: { text: string; href: string }[];
}

const { links = [] } = Astro.props;
---

<aside id="sidebar">
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->

    <a href="/">
      <img src="/images/logo.png"
        alt="avatar" 
        style="width:100%">
    </a>

    <a href="https://golokpembunuhnaga.wordpress.com/" 
      class="w3-bar-item w3-btn w3-padding-large w3-hover-black"
      target="_blank"
      title="Wuxiapedia di Wordpress">
      <i class="fa fa-wordpress w3-xxlarge"></i>
      <p><strong>Wordpress</strong></p>
    </a>

    <a href="/wuxiapedia/about" class="w3-bar-item w3-btn w3-padding-large w3-hover-black">
      <i class="fa fa-newspaper-o w3-xxlarge"></i>
      <p>BOOK 1</p>
    </a>

    <a href="/wuxiapedia/characters/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-vcard-o w3-xxlarge"></i>
      <p>BOOK 2</p>
    </a>

    <a href="/wuxiapedia/history/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-book w3-xxlarge"></i>
      <p>BOOK 3</p>
    </a>

  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium w3-black" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="/wuxiapedia/" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a>
      <a href="/wuxiapedia/about/" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i></a>
      <a href="#photos" class="w3-bar-item w3-button"><i class="fa fa-vcard-o"></i></a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-book"></i></a>
    </div>
  </div>
</aside>

