---
// File: src/pages/book/[bookNumber]/[chapterNumber].astro
import { getCollection, render } from 'astro:content';
export async function getStaticPaths() {
  const allChapters = await getCollection('book');
  
  // Saring file yang tidak punya data book atau chapter (seperti Prakata) agar tidak eror
  const validChapters = allChapters.filter(ch => ch.data.book !== undefined && ch.data.chapter !== undefined);

  return validChapters.map((ch) => ({
    params: {
      // Mengubah angka 1 menjadi teks string untuk URL
      bookNumber: String(ch.data.book),       
      chapterNumber: String(ch.data.chapter)
    },
    props: { chapter: ch },
  }));
}

const {chapter} = Astro.props;
const frontmatter = chapter.data;
const { Content } = await render(chapter);
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{frontmatter.title}</title>
  <meta name="description" content={frontmatter.description}>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-black">
	<main class="w3-container w3-padding-large" id="main" aria-label="Content">
		<header>
			<h1>{frontmatter.title}</h1>
		</header>
	
		<hr>
		
		<Content />
		<footer>
			<p>Copyright, &copy; 2026 FX. Adi Lima</p>
		</footer>
    </main>
</body>
</html>
