---
import Sidebar from '../components/Sidebar.astro';

const { frontmatter } = Astro.props;

---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{frontmatter.title}</title>
  <meta name="description" content={frontmatter.description}>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-black">
   <Sidebar links={[
      { text: 'Preludes', href: '/preludes' },
      { text: 'Book 1', href: '/book1' },
      { text: 'Book 2', href: '/book2' },
      { text: 'Book 3', href: '/book3' }
    ]} />
	
	<main class="w3-container w3-padding-large" id="main" aria-label="Content">
		<header>
			<h1>{frontmatter.title}</h1>
      <p>Published on: <em>{frontmatter.pubDate}</em></p>
		</header>
	
		<hr>
		
		<slot />
		<footer>
			<p>&copy; 2025 My Astro Blog</p>
		</footer>
    </main>
</body>
</html>
